{% load static tailwind_tags %}
{% load i18n %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="dropdown">
    <div tabindex="0" role="button" class="btn m-1">
        Language {{ LANGUAGE_CODE }}
        <svg width="12px"
             height="12px"
             class="inline-block h-2 w-2 fill-current opacity-60"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 2048 2048">
            <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
        </svg>
    </div>
    <form action="{% url 'set_language' %}" method="post" id="language-change">
        {% csrf_token %}
        <ul tabindex="0"
            class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl"
            name="language">
            {% for language in languages %}
                <li>
                    <input type="radio" class="!bg-none theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label={{ language.name }} {% if language.code == LANGUAGE_CODE %}checked{% endif %} value="{{ language.code }}" name="language" />
                </li>
            {% endfor %}
        </ul>
    </form>
</div>
<script nonce="{{request.csp_nonce}}">
    (function() {
    document.getElementById('language-change').addEventListener('change', function (event) {
        document.getElementById('language-change').submit();
    })
})()
</script>
