{% load static tailwind_tags %}
<div class="dropdown">
    <div tabindex="0" role="button" class="btn m-1">
        Theme
        <svg width="12px"
             height="12px"
             class="inline-block h-2 w-2 fill-current opacity-60"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 2048 2048">
            <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
        </svg>
    </div>
    <ul tabindex="0"
        class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl">
        <li>
            <input type="radio"
                   name="theme-dropdown"
                   class="!bg-none theme-controller btn btn-sm btn-block btn-ghost justify-start"
                   aria-label="Light"
                   {% if theme == 'light' %}checked{% endif %}
                   value="light" />
        </li>
        <li>
            <input type="radio"
                   name="theme-dropdown"
                   class="!bg-none theme-controller btn btn-sm btn-block btn-ghost justify-start"
                   aria-label="Dark"
                   {% if theme == 'dark' %}checked{% endif %}
                   value="dark" />
        </li>
        <li>
            <input type="radio"
                   name="theme-dropdown"
                   class="!bg-none theme-controller btn btn-sm btn-block btn-ghost justify-start"
                   aria-label="Cupcake"
                   {% if theme == 'cupcake' %}checked{% endif %}
                   value="cupcake" />
        </li>
        <li>
            <input type="radio"
                   name="theme-dropdown"
                   class="!bg-none theme-controller btn btn-sm btn-block btn-ghost justify-start"
                   aria-label="Aqua"
                   {% if theme == 'aqua' %}checked{% endif %}
                   value="aqua" />
        </li>
    </ul>
</div>
<script nonce="{{request.csp_nonce}}">
    (function() {
    document.getElementsByName("theme-dropdown").forEach((element) => {
        element.addEventListener("change", (event) => {
            setTheme(event.target.value);
        });
    })

    function setTheme(theme) {
        document.cookie = `theme=${theme};path=/;max-age=31536000`;
    }
})()
</script>
