apiVersion: v1
kind: Config
clusters:
- name: aset-vm
  cluster:
    certificate-authority-data: "{{ ca_data }}"
    server: https://aset.tedyst.ro:6443
contexts:
- name: default
  context:
    cluster: aset-vm
    user: "{{ item }}"
current-context: default
users:
- name: "{{ item }}"
  user:
    token: "{{ token_result[loop_index].stdout }}"
